body {
  background-color: #181515;
}

.navbar {
 background-color: #33b249;

}
.search-button {
  background-color: #33b249;
  color: white;
  border: 0.5px solid rgb(242, 233, 233);
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;  
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 140px;
  margin-right: 40px;
} 
.navbar a {
  color: rgba(255, 255, 255, 0.977);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 160px;
  padding: 10px;
  height: 40px;
  border-radius: 6%;
  text-decoration: none;
  float: center;
  font-size: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.navbar h4 {
  color: antiquewhite;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbar a:hover {
  background-color: #223225;
}

.User-heading {
  margin-left: 140px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}
.sidenav {
  height: 1000px;
  font-family: "Montserrat", sans-serif;
  width: 120px; /* Adjust the width as needed */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(51, 127, 127);
  background: -moz-linear-gradient(
    0deg,
    rgba(51, 127, 127, 1) 20%,
    rgba(51, 127, 127, 1) 22%,
    rgba(44, 170, 66, 1) 93%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(51, 127, 127, 1) 20%,
    rgba(51, 127, 127, 1) 22%,
    rgba(44, 170, 66, 1) 93%
  );
  background: linear-gradient(
    0deg,
    rgba(51, 127, 127, 1) 20%,
    rgba(51, 127, 127, 1) 22%,
    rgba(44, 170, 66, 1) 93%
  );
  padding-top: 20px;
  margin-top: 53px;
  margin-right: 500px;
}

.sidenav a {
  padding: 25px 15px; 
  text-decoration: none;
  color: white;
  display: block;
}

.sidenav a:hover {
  background-color: #223225;
  color: whitesmoke;
}

.my-tasks {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 130px 130px 130px;
  gap: 20px;
  margin-left: 200px;
  margin-top: 100px;
  text-align: center;
  font-size: 100;
}

.my-tasks h4 {
  margin-top: 20px;
  font-size: 15px;
}

.container {
  margin: 10px;
  margin-left: 170px;
  font-size: 12px;
}

.responsive-table {
  width: 95%;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: whitesmoke;
}

.responsive-table th {
  background-color: #33b249;
  color: whitesmoke;
}

.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #33b249;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: "Users";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 3.55em;
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}

.Buttons-class {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 500px;
}

.page-heading {
  font-size: 20px;
  margin-left: 135px;
  margin-top: 40px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}
.simple-bar-chart {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  margin-left: 20px;
  align-items: flex-start;
  border-radius: 5%;
  height: 230px;
  padding: 10px 4px;
  border: 2px solid black;
}
.pie-head {
  margin-left: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 40px;
  height: 22px;
}

.item {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 200px;
  margin-right: 10px;
}

.value {
  width: 100px;
  background-color: #971c1c;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/* Adjust bar width based on value */
.item:nth-child(1) .value {
  width: 500%;
  background-color: green;
}
.item:nth-child(2) .value {
  width: 80%;
  background-color: green;
}
.item:nth-child(3) .value {
  width: 50%;
  background-color: green;
}
.item:nth-child(4) .value {
  width: 35%;
  background-color: green;
}
.item:nth-child(5) .value {
  width: 20%;
  background-color: green;
}

.pie {
  /* (A1) CIRCLE */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 10px;
  /* (A2) SEGMENTS */
  background: conic-gradient(
    red 0deg 100deg,
    green 100deg 190deg,
    blue 190deg 210deg,
    yellow 210deg 310deg,
    purple 310deg 360deg
  );
}

table {
  width: 60%;
  margin: 1px auto;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #0b0909;
  background-color: white;
}

th {
  background-color: #f9fbfe;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.color-cell {
  width: 13px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.ybg {
  background-color: yellow;
}
.pbg {
  background-color: purple;
}
.rbg {
  background-color: red;
}
.gbg {
  background-color: green;
}
.bbg {
  background-color: #335fc0;
}
.graphs {
  display: flex;
  flex-direction: row;
}

.reports-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #33b249;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.report-details {
  margin-bottom: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table td{
  padding: 10px;
  background-color: white;
}
.results-table th {
  background-color: #fff;
  text-align: center;
}

.results-table td input[type="checkbox"] {
  transform: scale(1.5);
  margin: 0;
}

.results-table td input[type="checkbox"]:disabled {
  opacity: 0.5;
}

.m-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}
.voters-table{
  margin-left: 300px;
  margin-top: 30px;

}

.voters-list {
  margin-top: 20px;
}

.voter {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.voter-info {
  flex: 1;
}

.verification {
  padding-left: 20px;
  color: #4caf50;
}

strong {
  font-weight: bold;
  margin-right: 5px;
}
.btn {
  color: white;
  border-radius: 18px;
  background: linear-gradient(145deg, #2ea042, #37be4e);
  box-shadow: 5px 5px 1px #185422, -5px -5px 1px #4eff70;
  width: 200px;
  height: 130px;
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  height: 110px;
  font-size: 8px;
  width: 180px;
}
.register{
  margin-left: 30%;
  margin-top: 10%;
  background-color: #33b249;
  width: 350px;
  height: 280px;
  border-radius: 4%;

}
.inputbox{
  padding: 7px;
  display: block;
  border: 1px solid black;
  width: 300px;
  margin: 20px;
  background-color: beige;
} 
.btn-r{
  background-color: #0f310f;
  color: #33b249;
  margin-left: 10px;
  border-radius: 20%;
  width: 100px;
  height: 40px;
}
.heading-register{
  font-family: sans-serif;
  font-size: 22px;
  color: black;
  margin-left: 20px;
}
.candidates-list{
  background-color: white;
  color: black;
}
.candidate-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}